@import 'sass-bootstrap/lib/_variables';

.home {
	height: 100%;
	width: 100%;
	display: table;

    .title {
        vertical-align: middle;
        display: table-cell;
        height: 90%;
    }

    .register {
        vertical-align: middle;
        display: table-row;
        height: 10%;
        text-align: center;
    }

    .register a {
        font-size: 18pt;
        background: $blue;
        padding: 15px;
        color:white;
    }



    h1 {
        font-size: 11em;
        font-weight: 100;
        letter-spacing: 15px;

        span {
            font-weight: 300;
        }
    }

    h2 {
        font-size: 3em;
    }

    h1, h2, h3, h4, h5 {
        text-align: center;
        margin-top: 20px;
    }
        
    @media (max-width: $screen-xs-max) { 
        h1 {
            font-size: 2em;
        }
        
        h2 {
            font-size: 1.5em;
        }

        h3 {
            font-size: 1em;
        }

        .register a {
            font-size: 12pt;
        }
    }

    @media (min-width: $screen-xs-min) and (max-width: $screen-sm-max) {
        h1 {
            font-size: 4em;
        }
        
        h2 {
            font-size: 2em;
        }

        h3 {
            font-size: 2em;
        }
    }

    @media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
        h1 {
            font-size: 8em;
        }
        
        h2 {
            font-size: 2em;
        }

        h3 {
            font-size: 2em;
        }
    }
}