$ligth-gray: rgb(129, 129, 129);
$space-between-boxes: 30px;

@mixin middle{
	display: table-cell;
	vertical-align: middle;
}

@mixin center{
	display: table-cell;
	vertical-align: middle;
	float: left;
	text-align: center;
	width: 100%;
}

.speakers-list {
	padding: 0;
	margin: 0;
}

.speakers-list li {
	display: table;
	list-style: none;
	margin: 0 auto $space-between-boxes auto;
}

.picture {
	@include middle;
	// width: 15%;
	padding-right: 20px;
	@media screen and (max-width: 991px) {
		display: block;
		margin: auto;
		padding-right: 0;
		width: inherit;
	}
}

.name {
	@include middle;
	// width: 30%;
	@media screen and (max-width: 991px) {
		@include center;
	}
}

.description {
	@include middle;
	width: 55%;
	text-align: right;
	line-height: 170%;
	@media screen and (max-width: 991px) {
		@include center;
	}
}

.name h4 a {
    color: $ligth-gray;
    font-size: 0.9em;
    margin-left: 5px;
}

.name > p > span {
	margin-left: 5px;
	color: $ligth-gray;
}